.dashboard-main .main-content-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    background-color: whitesmoke;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px 5px 20px;
    border: 2px solid var(--border-input-box);
    border-bottom: none;
    position: relative;
    top: 2px;
}

.dashboard-main .main-content-title:not(:first-child) {
    margin-top: 30px;
}

.dashboard-main .main-content-card {
    width: 100%;
    min-width: 300px;
    background-color: whitesmoke;
    border-radius: 0 10px 10px 10px;
    padding: 30px 22px 22px 22px;
    border: 2px solid var(--border-input-box);
}

/*-----------input display & form buttons----------------------------------------------------------------*/

.dashboard-main .main-content-card form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-info .input-container-name input,
.project-info .input-container-description textarea,
.kanban-boards .input-container-name input,
.kanban-boards .input-container-description textarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    border: 1px solid var(--border-input-box);
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 22px;
    transition: all 0.3s;
    /* background-color: transparent; */
    background-color: whitesmoke;
    outline: none;
    font-size: 1rem;
}

.project-info .input-container-name input:disabled,
.project-info .input-container-description textarea:disabled {
    background-color: rgba(201, 201, 201, 0.3);
}

.project-info .input-container-description textarea,
.kanban-boards .input-container-description textarea {
    min-height: 150px;
    resize: vertical;
    padding: 10px 22px;
    overflow-y: visible;
}

.project-info label,
.kanban-boards label {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
}

.project-info .btn-group,
.kanban-boards .btn-group {
    margin-left: auto;
    margin-right: 10px;
}

.project-info .btn-group button,
.project-info .confirm-delete button,
.kanban-boards .btn-group button,
.kanban-boards .confirm-delete button {
    width: 100px;
    height: 30px;
    color: var(--text-primary);
    border: 2px solid var(--text-primary);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.project-info button.cancel,
.kanban-boards button.cancel {
    color: var(--text-grey);
    border: 2px solid var(--text-grey);
}

.project-info button.submit:hover,
.kanban-boards button.submit:hover {
    background-color: var(--text-primary-opacity);
}

.project-info button.cancel:hover,
.kanban-boards button.cancel:hover {
    background-color: rgba(201, 201, 201, 0.5);
}

.project-info button.submit:active,
.kanban-boards button.submit:active {
    background-color: var(--text-primary-opacity);
    transform: translateY(2px);
}

.project-info button.cancel:active,
.kanban-boards button.cancel:active {
    background-color: rgba(201, 201, 201, 0.5);
    transform: translateY(2px);
}


/*-----------confirm delete section----------------------------------------------------------------*/

.project-info .confirm-delete,
.kanban-boards .confirm-delete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 99, 71, 0.2);
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 1rem;
    padding: 0 20px;
}

.project-info .confirm-delete button,
.kanban-boards .confirm-delete button {
    width: 150px;
    margin-left: 20px;
    transition: all 0.3s;
}

.project-info .confirm-delete button.delete,
.kanban-boards .confirm-delete button.delete {
    color: tomato;
    border: 2px solid tomato;
}

.project-info .confirm-delete button.delete:hover,
.kanban-boards .confirm-delete button.delete:hover {
    color: whitesmoke;
    background-color: tomato;
}

/*-----------new kanban board button & form----------------------------------------------------------------*/

.kanban-boards .new-kanban-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
    margin: 5px 0;
    transition: all 0.3s;
    border: none;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    height: auto;
}

.kanban-boards .new-kanban-btn.active {
    background-color: rgba(201, 201, 201, 0.3);
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
}

.kanban-boards .new-kanban-btn i {
    margin: 0 10px 0 0;
    font-size: 1.5rem;
    vertical-align: middle;
}

.kanban-boards .new-kanban-btn:hover {
    color: var(--text-grey);
}

.kanban-boards .new-kanban-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(201, 201, 201, 0.3);
    padding: 20px;
    border-radius: 0 10px 10px 10px;
}

/* input styles are on top with other inputs */

/*-----------kanban list----------------------------------------------------------------*/


.kanban-boards .kanban-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(201, 201, 201, 0.3);
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    /* max-height: 250px; */
    /* overflow: scroll; */
}

.kanban-boards .kanban-details .left {
    width: 100%;
}

.kanban-boards .kanban-details a {
    font-size: 1.2rem;
    color: black;
}

.kanban-boards .kanban-details a:hover {
    color: var(--text-grey);
}

.kanban-boards .kanban-details p {
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: var(--text-grey);
    white-space: pre-line;
}
